* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
}

/* ::-webkit-scrollbar {
  width: 5px;
  height: 2px;
} */
.phone-box::-webkit-scrollbar{
  width: 0;
  height: 0;
}
body {
  font-family: "幼圆";
  background: #efefef;
  font-size: 14px;
}

img {
  display: block;
}

input,
select,
textarea {
  border: 1px #ddd solid;
  padding: 5px;
  border-radius: 5px;
}

input,
select {
  height: 30px;
}

label {
  display: inline-block;
}

button {
  padding: 5px;
  margin: 5px;
  border: 0;
  background: #496be6;
  color: #fff;
  border-radius: 5px;
}

.span-3 {
  width: 30%;
  float: left;
}

.span-4 {
  width: 40%;
  float: left;
}

.span-10 {
  width: 100%;
  float: left;
}

header {
  padding: 15px;
  font-size: 18px;
  background: #496be6;
  color: #fff;
}

.row {
  overflow: auto;
}

.cul-3>div {
  float: left;
  width: 31.3%;
  padding: .5%;
}

.cul-2>div {
  float: left;
  width: 48%;
  padding: 1%;
}

.phone-box {
  border: 1px #aaa solid;
  width: 375px;
  height: 590px;
  font-size: 14px;
  overflow: scroll;
  background: #fff;
}

.phone-main {
  border-right: 1px #ddd solid;
}

.configs-main .title,
.phone-main .title,
.json-str-main .title {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

.use-demo {
  padding: 5px;
  margin: 5px 0;
  background: #fff;
  border-radius: 5px;
  overflow: auto;
}

.use-demo>* {
  float: left;
  height: 30px;
  margin: 0;
  padding: 5px;
  font-size: 14px;
}

.use-demo label {
  width: 20%;
}

.use-demo input {
  width: 65%;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}

.use-demo button {
  border-radius: 0 5px 5px 0;
  width: 15%;
}

.configs-main .configs-tree {
  /*border: 1px #aaa solid;*/
  border-radius: 5px;
  padding: 5px;
  height: 550px;
  overflow: scroll;
  background: #fff;
  font-size: 14px;
  border: 1px #ddd solid;
}

.configs-main .configs-tree .li {
  margin-left: 2px;
  margin-top: 1px;
  border-radius: 5px;
  padding: 5px;
  border-bottom: 1px #eee solid;
  border-top: 4px #eee solid;
  border-right: 1px #eee solid;
  position: relative;
  background: #fff;
  position: relative;
  color: #666;
  transition: all .3s;
  /*background: #fff;*/
}

.configs-main .configs-tree .li.active {
  border-color: #8bc34a;
  color: #000;
}

.configs-main .configs-tree .li .text {
  pointer-events: none;
  padding: 5px;
  line-height: 22px;
}

.configs-main .configs-tree .li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #eee;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 5px;
  transition: all .3s;
}

.configs-main .configs-tree .li.active::before {
  background: #8bc34a;
}

.configs-main .configs-tree .li>.hideBox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 12px;
  color: #999;
}

.configs-main .configs-tree .li>.hideBox::before {
  content: "收起";
}

.configs-main .configs-tree .li.hideChild>.hideBox::before {
  content: "展开";
}

.configs-main .configs-tree .li.hideChild>.li {
  /*display: none;*/
  height: 0;
  padding: 0;
  border: 0;
}

.configs-main .configs-btns {
  padding-top: 5px;
  /*background: #fff;*/
  margin-top: 5px;
  /*border-radius: 5px;*/
  height: 0;
  border-top: 1px #ddd solid;
  text-align: right;
  opacity: 0;
  transition: all .3s ease .1s;
}

.configs-main .configs-tree .li.active>.configs-btns {
  opacity: 1;
  height: 35px;
}

.configs-main .configs-btns button {
  padding: 2px;
  font-size: 12px;
  margin: 3px;
  border: 0;
  background: #FACE20;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.72;
}

.configs-main .configs-tree .li>.configs-btns button {
  height: 25px;
  width: 20px;
  transition: all .1s ease .2s;
}

.configs-main .configs-tree .li.active>.configs-btns button {
  width: 25px;
}

.configs-main .configs-btns button:hover {
  opacity: 1;
}

.configs-main .configs-btns button.add {
  background: #8bc34a;
}

.configs-main .configs-btns button.delete {
  background: #e91e63;
}

.configs-main .configs-btns button.update {
  background: #496be6;
}

.json-str {
  width: 100%;
}


/*  编辑框 */

.win {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center;
}

.win .center-win {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
}

.win .center-win .title {
  background: #496be6;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.win .center-win .content {
  height: 550px;
  background: #efefef;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  text-align: left;
}

.input-box {
  padding: 10px;
}

.content form {
  overflow: auto;
  height: 450px;
  overflow: scroll;
}

.win .center-win textarea.text {
  width: 80%;
}

.input-box label {
  width: 35%;
  max-width: 70px;
}

.input-box input {
  width: 60%;
}

.btns {
  text-align: right;
}

.btns button {
  width: 100px;
}

.btns .closeBtn {
  background: #aaa;
}